<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link  rel="stylesheet" href="public/my.css">
    </head>
    <body>
        <h1>Hello people</h1>
        <h3> <%= data.userQuery %> </h1>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png" alt="Tree" width="500" height="600"> 
    </body>

</html>
<!-- 
type="text/css" rel="stylesheet" -->